{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/img.jpeg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">
            I'm a newcomer in the field of Computer Science, recently graduated in May 2024 with Bachelor's in Computer Science.
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello and welcome to my corner of the digital world! I'm Chork,
          a passionate computer science student with a knack for Software Engineering and Human-Centered Computing.
          Currently pursuing my Bachelor's Degree at the University of Minnesota Twin Cities.
          I find joy in exploring the endless possibilities that the world of technology offers.

          I believe that Theoretical Computer Science is an interesting thing to explore,
          and I'm on a mission to learn and explore more in this field. My journey in computer science
          began with wold's fasting developing technologies. Since then, I've been exposed to the technological world.

          I have a keen interest in Software Engineering, User Experiences, and Artificial Intelligence.
          The ever-evolving nature of technology excites me. I'm dedicated to staying updated
          with the latest advancements in the field.

          One of the highlights of my academic journey includes Software Engineering Principles
          and hands-on AI projects. These experiences have not only sharpened my technical skills
          but also taught me the importance of the learning process.
        </p>
        <p>
          When I'm not immersed in lines of code, you can find me doing some hobbies.
          Whether it's reading, biking, or outside activities, I believe in maintaining
          a balance between the virtual and real worlds.
          I'm always eager to connect with fellow tech enthusiasts.Whether you have a shared interest,
          a project idea, or building interesting projects.
          Thanks for stopping by, and I hope you enjoy exploring my digital space!
        </p>
        <p>
          As a new Computer Science Graduate, I am eager to learn more about technology and digital world.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
